<% flash.each do |type, msg| %>
  <% if type == "alert" %>
    <div class="bg-gray-700 fixed top-0 right-0 text-gray-50">
      <%= alert %>
    </div>
  <% else %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<% end %>